@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');

body {
    font-family: 'Cairo', sans-serif;
    overflow: hidden;
}

.sec {
    background-image: url(bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    box-shadow: 0 0 0 2000px inset rgba(0,47,56,0.7), 0 0 5px rgba(0,47,56,0.7);
    height: 100vh;
}


.button-1 {
    background: #fff;
    border-radius: 5px;
    padding: 5px 40px;
    color: #274e39;
    font-size: 20px;
}



* {
    text-align: right;
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    

}



p {
    font-size: 20px;
}



.title {
    color: #fff;
    text-align: center;
}








.cntl {
	position: relative;
    margin: 0 10% 0 10%;
	overflow: hidden;
    
}

.cntl-center {
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.cntl-bar {
	position: absolute;
	width: 5px;
	top: 0;
	bottom: 0;
	background-color: #ccc;
	box-shadow: inset 0px 0px 7px -2px #000;
}


.cntl-bar-fill {
	background-color: #274e39;
	position: absolute;
	left:0;
	right:0;
	top:0;
	height:0;

}

.cntl-state {
	position: relative;
	width:100%;
	min-height: 200px;
	margin-bottom: 50px;
}

.cntl-state::after {
	display:block;
	content: ' ';
	clear:both;
}

.cntl-icon {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	position: absolute;
	top: 0;
	text-align: center;
	line-height: 80px;
       object-fit: contain;
}

.cntl-content {
	width: 40%;
	padding: 2%;
 line-height: 1.3;
	border-radius: 8px;
	
	float:left;
	opacity:0;
	position:relative;
	margin-left:-40%;
}

.cntl-state:nth-child(2n+2) .cntl-content {
	float:right;
	margin-right:-40%;
}

.cntl-image {
	opacity:0;
	width: 40%;
	padding: 2%;
}

.cntl-state:nth-child(2n+1) .cntl-image {
	float:right;
}

.cntl-image img {
	width:100%;
}

.cntl-content h4 {
	font-size:36px;
	font-weight: normal;
	margin-bottom: 10px;
    
}


/*
animations
*/
.cntl-bar-fill,.cntl-content,.cntl-image {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	transition: all 500ms ease;
}

.cntl-state:nth-child(2n+2).cntl-animate .cntl-content {
	margin-right:0%;
}

.cntl-animate .cntl-content {
	opacity:1;
	margin-left:0%;
}

.cntl-animate .cntl-image {
	opacity:1;
}




/* mobile support */

@media (max-width: 600px) {

	.cntl-bar {
		left:auto;
		right: 37px;
	}

	.cntl-content {
		width:80%;
		float:none;
	}
	.cntl-state:nth-child(2n+2) .cntl-content {
		margin-right:0%;
		float:none;
	}

	.cntl-image {
		width:80%;
	}

	.cntl-state:nth-child(2n+1) .cntl-image {
		float:none;
	}

	.animate .cntl-content {
		margin-left: 2%;
	}

	.cntl-icon {
		left: auto;
		right: 0;
	}

}




.h4 {
    font-size: 36px;
}

